
//colors:
$lt-gray: #E6E6E6;
$dk-gray: #5C5C5C;
$priority-low: #3B76F7;
$priority-mid: #F7BC3B;
$priority-high: #F73B3B;
$complete: #129C00;

body {
	font-family: 'Muli', san-serif;
	fill: $lt-gray;
	margin: 0;
}