//list name
.list-name {
	margin: 0 0 10px 15px;
}

.name-input {
	font-size: 24px;
	margin-left: 15px;
	margin-bottom: 15px;
	font-family: 'Muli', san-serif;
	font-weight: bold;
}

//item card


//new item button