body {
  font-family: 'Muli', san-serif;
  fill: #D1D1D1;
  margin: 0; }

.dock {
  max-width: 500px;
  background-color: #E6E6E6;
  margin: 0;
  padding: 10px 0 55px 0;
  position: relative; }
  .dock .list-name {
    margin: 0 0 10px 15px; }
  .dock .add-task-button {
    background-color: #F73B3B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 25px;
    transition: .1s;
    position: absolute;
    right: 15px;
    bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }
    .dock .add-task-button:hover {
      background-color: #f62323;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.4); }
  .dock .item {
    width: 95%;
    margin: 0 auto 15px auto;
    border: 2px solid #5C5C5C;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }
    .dock .item .priority-button {
      height: 15px;
      border-radius: 5px 5px 0 0; }
    .dock .item .item-content .delete-item-button, .dock .item .item-content .edit-item-button {
      float: right;
      margin-right: 10px;
      height: 18px;
      width: 18px;
      margin-top: 4px; }
      .dock .item .item-content .delete-item-button svg, .dock .item .item-content .edit-item-button svg {
        fill: #D1D1D1; }
        .dock .item .item-content .delete-item-button svg:hover, .dock .item .item-content .edit-item-button svg:hover {
          fill: black; }
    .dock .item .item-content .edit-item-button {
      clear: both; }
    .dock .item .item-content input {
      height: 17px;
      width: 17px;
      position: relative;
      top: 2px;
      left: -5px; }
    .dock .item .item-content label {
      font-size: 20px;
      margin: 10px 0 13px 13px; }
    .dock .item .item-content input, .dock .item .item-content label {
      display: inline-block; }
      .dock .item .item-content input:hover, .dock .item .item-content label:hover {
        cursor: pointer; }

.new-list-button {
  background-color: #F44336;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .3s;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  bottom: 50px;
  right: 50px; }
  .new-list-button:hover {
    background-color: #f32c1e;
    box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.5);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); }

.priority-low {
  background-color: #3B76F7; }
  .priority-low:hover {
    background-color: #2365f6;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }

.priority-mid {
  background-color: #F7BC3B; }
  .priority-mid:hover {
    background-color: #f6b423;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }

.priority-high {
  background-color: #F73B3B; }
  .priority-high:hover {
    background-color: #f62323;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }

.complete {
  background-color: #26E00D; }

/*# sourceMappingURL=main.css.map */
